* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	height: 100vh;
}

/* Placeholder styles */

.sidebar {
	background-color: deepskyblue;
}

.header {
	background-color: lightgray;
}

.main {
	background-color: aquamarine;
}

.dashboard {
	display: grid;
}